{%comment%}
    - select products by product type
    - filter by tag...

    - create a grid

    https://shop1212.com/collections/custom-bundle-products
{%endcomment%}

{{ 'custom-bundler.css' | asset_url | stylesheet_tag }}
    {{ 'custom-bundler.js' | asset_url | script_tag }}


	{% assign collection_tag = collection.metafields.bundler.tag%}
    {% assign collection_handle = 'custom-bundle-products' %}
    <div class = "custom-bundler-grid" style = "background-color: {{section.settings.custom_grid_background_color}}">
        {% for product in collections[collection_handle].products %}
      
       		{%assign price_min = 0%}
     		{%assign price_max = 0%}
      
      		{%capture bundle_product%}
      
              {%assign img_height = section.settings.img_height%}
              {%if img_height == 0%}
              	{%assign img_height = 'unset'%}
              {%else%}{%assign img_height = img_height | append: 'px'%}
              {%endif%}
      
       		<div class = "custom-bundler-grid__product_item" style = "
              border: {{section.settings.item_border_weight}}px solid {{section.settings.item_border_color}};
              border-radius: {{section.settings.item_border_radius}}px;  
           ">

              {%assign img_height = section.settings.img_height%}
              {%if img_height == 0%}
              	{%assign img_height = 'unset'%}
              {%else%}{%assign img_height = img_height | append: 'px'%}
              {%endif%}
              
               <div class = "custom-bundler-grid__product_img">
                   {%assign discount = product.price | times : 100 | divided_by : product.compare_at_price %}
  				   {%assign discount = 100 | minus: discount %}
                 
                 {%if discount > 0%}
              	<div class = "saving_wrapper">
                  <div class = "saving" style = "
                   background-color: {{section.settings.saving_background_color}};
                   border-radius: {{section.settings.saving_border_radius}}px;
                   border-color: {{section.settings.saving_border_color}};		
                   font-size: {{section.settings.saving_font_size}}px;
                   color: {{section.settings.saving_font_color}};

                  ">                
                    SAVE {{discount }} %                
                  </div>
              	</div>
                {%endif%}
                <img src="{{ product.featured_image | img_url: 'x400'}}" alt = "{{product.title}}" style = "height: {{img_height}}"/>

              </div>
              <div class = "custom-bundler-grid__product__info">
              	<div class = "custom-bundler-grid__product__info__title" style = "
                    font-size: {{section.settings.title_font_size}}px;
                    font-weight: {{section.settings.title_font_weight}};
                    color: {{section.settings.title_font_color}};
                ">
                	{{product.title}}
                </div>
                <div class = "custom-bundler-grid__product__info__price" style = "
                    font-size: {{section.settings.price_font_size}}px;
                    font-weight: {{section.settings.price_font_weight}};
                    color: {{section.settings.price_font_color}};
                ">
                	XXX-PRICE
                </div>
                
              </div>
              <div class = "custom-bundler-grid__product__what-includes">
                <div class = "custom-bundler-grid__product__what-includes__title" style = "
                    font-size: {{section.settings.what_inc_font_size}}px;
                    font-weight: {{section.settings.what_inc_font_weight}};
                    color: {{section.settings.what_inc_font_color}};
                 ">
                  {{section.settings.what_inc_text}}
                </div> 
                
                  {%assign products_height = section.settings.products_height%}
                  {%if products_height == 0%}
                    {%assign products_height = 'unset'%}
                  {%else%}{%assign products_height = products_height | append: 'px'%}
                  {%endif%}
                 <div class = "custom-bundler-grid__product__what-includes__grid" style= "height: {{products_height}}">
                  
                  {%assign show_product = ''%}
                  {%for sub_product in product.metafields.bundler %}
                   
					{%assign item = all_products[sub_product[1]]%}
                   	{%if item.available == false%}
                   		{%assign show_product = 'no'%}
                   	{%endif%}
                   
                    {%assign price_min = price_min | plus: item.price_min %}
                    {%assign price_max = price_max | plus: item.price_max %}
                   
                    	<div class = "custom-bundler-grid__product__what-includes__grid__item">
                            <div class = "custom-bundler-grid__product__what-includes__grid__item__img">
                                <img src="{{item.featured_image | img_url: '90x90'}}" alt = "{{item.title}}"/>
                            </div>
                            <div class = "custom-bundler-grid__product__what-includes__grid__item__title" style = "
                              font-size: {{section.settings.what_inc_item_font_size}}px;
                              font-weight: {{section.settings.what_inc_item_font_weight}};
                              color: {{section.settings.what_inc_item_font_color}};
                           ">
                               {{section.settings.what_inc_item_pre_text}} {{item.type}}
                            </div>
                    	</div>   
                  {%endfor%}
                         
                  {%comment%}
                  {% for option in product.variants %}
                    <div class = "custom-bundler-grid__product__what-includes__grid__item">
                          <div class = "custom-bundler-grid__product__what-includes__grid__item__img">
                            <img src="{{option.image.src | img_url: '90x90'}}" alt = "{{option.title}}"/>
                          </div>
                          <div class = "custom-bundler-grid__product__what-includes__grid__item__title">
                            {{option.title}}
                          </div>
                    </div>
                  {% endfor %}  
                  {%endcomment%}
                  
                  
                </div>
              </div>
              <div class = "custom-bundler-grid__product__customize">
                <style>
                .custom-bundler-grid__product__customize button:hover {
                 	background-color: {{section.settings.cta_hover_background_color}} !important; 
                }
                  
                </style>
                <button style = "
                   background-color: {{section.settings.cta_background_color}};
                   border-radius: {{section.settings.cta_border_radius}}px;
                   border: {{section.settings.cta_border_weight}}px solid {{section.settings.cta_border_color}};
                   font-size: {{section.settings.cta_font_size}}px;
                   font-weight: {{section.settings.cta_font_weight}};
                   "><a href = "{{product.url}}" style = "color: {{section.settings.cta_font_color}};">Customize your bundle</a></button>
              </div>
      		</div>
      	{%endcapture%}
      
      
      	{% if collection_tag != blank%}
      		{%unless product.tags contains collection_tag%}
      			{%assign show_product = 'no' %}
      		{%endunless%}
      	{%endif%}
      
      	{%comment%}get the price, (with or without a range and apply the discount{%endcomment%}
      
     
      
        {% assign price_min_discount = price_min | divided_by: 100 | times: discount%}
      	{% assign price_min_discount = price_min | minus: price_min_discount %} 
      
      
      	{% assign end_price = price_min_discount | money %}
        {%if price_min != price_max%}   	
    		{% assign end_price = 'from ' | append: end_price %}      
   	    {%endif%}
      
      	{% assign bundle_product = bundle_product | replace: 'XXX-PRICE', end_price%}

      	{%unless show_product == 'no'%}{{bundle_product}}{%endunless%}
      

        {% endfor %}
    </div>
  